body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.signupheader {
  background-color: yellow;
}

.signupbody {
  background-color: wheat;
}

.signupfooter {
  background-color: blue;
}



.composeheader {
  background-color: yellow;
}

.composebody {
  background-color: wheat;
}

.composefooter {
  background-color: blue;
}



.messagesheader {
  background-color: yellow;
}

.messagesbody {
  background-color: wheat;
}

.messagesfooter {
  background-color: blue;
}



.loginheader {
  background-color: yellow;
}

.loginbody {
  background-color: wheat;
}

.loginfooter {
  background-color: blue;
}