.messageListMain .header input{
padding: 10px;
font-size: 16px;
margin: 10px;
margin-right: 0px;
background-color:  #0066ff;
color:#FFF;

}
.messageListMain .header button {
    background-color: #003399;
    border: 2px solid  #003399;
    cursor: pointer;


}